<div class="row">
  <div class="col-md-6 col-md-offset-2">
    <h1>New trip</h1>
      </div>
    </div>

<%= render 'form' %>

    <div class="row">
  <div class="col-md-6 col-md-offset-2">
<%= link_to 'Back', trips_path %>
      </div>
    </div>
