<div class="jumbotron" style="background-image: url(https://dl.dropboxusercontent.com/s/zm647mthzem0u42/bodleian2.JPG); background-size: 100%;" height="750">
 <h1 align="center">About Us</h1>  
</div>

<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-2">
  
    <h1>About Travellrs</h1>
    <p>Travellrs is about making travelling more sociable and companionable by encouraging networking between fellow travellers going to the same destination and also with locals. With increasing backpack trend in tourism, there is an equal increase in the demand for local like experience and less of the traditional city tour (museums and historic sites). </p>
    <br><p style="font-size:17px"><i>"I would like to watch a musical on Broadyway when I visit New York, but I am travelling on my own."</i></p><br>

    <p>Travellrs is about supporting and encouraging companioned travels. We have started our movement in the UK, one of the World's top travel destinations, focusing on London and Oxford. With increasing network of travellers and locals, we hope expand our efforts to other parts of the UK and Europe.</p>
    </div>
    <div class="col-md-2" style='border-left: 1px solid #eeeeee;'>
      <img src="https://dl.dropboxusercontent.com/s/k5eidjedrg288d2/harry.jpg" class="img-circle" height="100" width="100">	<br><br>			 
      <p><i>"With Travellrs, you can travel to another country knowing that you will meeting new friends in new cities who will have similar interests as you and who you can have fun with."</i> <br>- CEO & Co-founder </p>
    </div>
  </div>