<div class="jumbotron" style="background-image: url(https://dl.dropboxusercontent.com/s/zm647mthzem0u42/bodleian2.JPG); background-size: 100%;" height="750">
   <h1 align="center">Contact Us</h1>
  </div>

<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-2">
    <h1>Contact Us</h1>
    <p>We are very happy to answer any queries regarding how to use our site and also any queries regarding your trips. Please do not hesitate to contact us at <b>support@travellrs.com</b></p>
      </div>
  </div>
