<div class="jumbotron" style="background-image: url(https://dl.dropboxusercontent.com/s/zm647mthzem0u42/bodleian2.JPG); background-size: 100%;" height="750">
   <h1 align="center">How it works</h1>
</div>
  <div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-1">
      <h1>How does it work</h1><br>
      <h4>1. Search for travellers and locals in the city you are going to</h4>
      <p>Type the city you are going to in the search bar and the dates you will be in the city. You may also categorise the travellers by language spoken and interests; for example, looking for somebody in London from Oct 10-14 speaking English or Chinese who's interested in watching a premier league football match.</p>
      <h4>2. Get in touch with travellers and locals who share the same interests</h4>
      <p>Chat with your potential fellow travellers and make facebook friendship to see what they are like.</p>
      <h4>3. If you would like to meet up, exchange numbers and meet up!</h4>
      <p>Discuss the meet up place, schedule events to attend together or even share accommodation and transport to save the cost! Once all the planning is done, it's time to enjoy companionable travel.</p>
      </p>
    </div>
  </div>
    
  
