<div class="jumbotron">
  <h1 align="center">Discover your potential</h1>
  <h2 align="center">Bridging quality tutors with talented students<br></h2>
  <br><br>
    <div class="row">
     <div class="col-md-6 col-md-offset-3">
        <%= form_tag search_trips_path, method: :get, class: "center" do %>
      <p>
        <%= text_field_tag :search, params[:search], class: "form-control" %>
        <%= submit_tag "Search", name: nil, class: "btn btn-default" %>
       </div> 
    </div>  
</div>

<div class="container">
<div class="index">  
<div class="row">	
	<div class="col-md-6 col-md-offset-3">
		<h2>Connecting students and tutors</h2>
		<p>Young Tutors is a platform for connecting tutors that can offer academic expertise with students that seek outside school support.</p>
    <div class="center"><img src="https://dl.dropboxusercontent.com/s/g0hfomxbmseug0c/Main%20page%20flash%20%28tutors%29.JPG" class="img-circle" height="250" width="250"></div>
    <br>
		<p>Our aim is to provide the highest quality tutors for talented students</p>
	</div>
</div>

<br><br>

<div class="row">
	<div class="col-md-5 col-md-offset-1">
		<h2 class="alignright">Ace your university application</h2>
		<p class="alignright">With more and more students going on to higher education, university admissions has been increasingly competitive. We believe that speaking to a current undergraduate studying your desired subject at your desired university can be a great first step for your university application process. Read more about university admissions mentorship.</p>
	</div>
	<div class="col-md-6">
      <img src="https://dl.dropboxusercontent.com/s/fammuojpibfhvug/page.jpg" class="img-circle" height="250" width="250">
	</div>
</div>

<br><br>

<div class="row">
	<div class="col-md-6">
   <div class="alignright">
    <img src="https://dl.dropboxusercontent.com/s/kxzazivq5xyao30/SAM_2694.JPG" class="img-circle" height="250" width="250" >
   </div>
  </div>
	<div class="col-md-5">
		<h2>Achieve more with studying less</h2>
		<p>Studying hard is a necessary part in achieving top grades. However, studying smart can save you much time and effort while still allowing you to achieve top grades. Knowing exactly what to study and memorise can offer efficient learning. 
	</div>
</div>
<br><br>
<div class="row">
	<h1 class="center">By...</h1>
</div>

<br><br>
<div class="row">
	<div class="col-md-6">
		<h2 class="alignright">Meeting current <br>undergraduates</h2>
	</div>
	<div class="col-md-6">
		<img src="https://dl.dropboxusercontent.com/s/79z41rlv7jne94m/Tutor%206.JPG" class="img-circle" height="250" width="250">				 
	</div>
</div>
<br><br>
<div class="row">
	<div class="col-md-6">
    <div class="alignright">
		<img src="https://dl.dropboxusercontent.com/s/tzsnlanvv8ivxjg/IMG_7850.JPG" class="img-circle" height="250" width="250">
    </div>
	</div>
	<div class="col-md-6">
		<h2>Asking questions on our <br>discussion forum</h2>				 
	</div>
</div>
  </div><!-- end of index -->

