<div class="jumbotron" style="background-image: url(https://dl.dropboxusercontent.com/s/zm647mthzem0u42/bodleian2.JPG); background-size: 100%;" height="750">
  <h1 align="center">Find your travel companions</h1>
  <h2 align="center">Connecting travellers with fellow travellers and locals<br></h2>
  <br><br>
    <div class="row">
     <div class="col-md-6 col-md-offset-3">
        <%= form_tag search_trips_path, method: :get, class: "center" do %>
          <%= select_tag :search, options_for_select(@destinations.uniq.sort.map {|destination| [destination.capitalize,destination]}.insert(0, "Where are you travelling to?")), :id => "e1", :style=>"width:100%;"%><br>
          <div style="margin-top:15px">
            <%= submit_tag "Search", name: nil, class: "btn btn-primary" %>
       </div>
        <% end %>
       </div> 
    </div>  
</div>

<div class="container">
<div class="index">  
<div class="row">	
	<div class="col-md-6 col-md-offset-3">
		<h2 style="text-align:center">Making travel sociable</h2>
		<p  style="text-align:center">Travellrs is a platform for travellers who would like to meet new friends to travel with and locals that seek international friends.</p>
    <div class="center"><img src="https://dl.dropboxusercontent.com/s/s0xx865awn7o806/1620961_291006137690740_1379087059_n.jpg" class="img-circle" height="250" width="250"></div>
    <br>
		<p  style="text-align:center">Our aim is to support the cross-border friendship culture and add local social life to travel experience.</p>
	</div>
</div>

<br><br>

<div class="row">
	<div class="col-md-5 col-md-offset-1">
		<h2 class="text-align:right">Connect with new people</h2>
		<p class="text-align:right">This is a great chance to meet new people. The ultimate way of networking while traveling.</p>
	</div>
	<div class="col-md-6">
      <div class="center"><img src="https://dl.dropboxusercontent.com/s/hjbz89yxi8nemxn/IMG_7816.JPG" class="img-circle" height="250" width="250"></div>
	</div>
</div>

<br><br>

<div class="row">
	<div class="col-md-6">
   <div class="alignright">
    <img src="https://dl.dropboxusercontent.com/s/mprmwzc9d2q67si/IMG_6822.JPG" class="img-circle" height="250" width="250" >
   </div>
  </div>
	<div class="col-md-5">
		<h2>Exchange knowledge</h2>
		<p>Make the most out of your journey by learning something new. Why not learn some words of the language of your destination, get introduced to a different culture or take the chance to promote your own brand?</p>
	</div>
</div>


<br><br>
<div class="row">
	<div class="col-md-5 col-md-offset-1">
		<h2 style="text-align: right">Call your new travel buddy <br>when you vist his town</h2>
    <p style="text-align: right">Travelling to China? Oh wait, you've met a fellow travel buddy from China during last year's trip to the UK. Hang out with friends you meet from travelling in their local towns. Likewise, show your travel buddies around when they visit your town.</p>
	</div>
	<div class="col-md-6">
		<img src="https://dl.dropboxusercontent.com/s/otpwr8cw4qq94tj/christchurch.JPG" class="img-circle" height="250" width="250">				 
	</div>
</div>
<br><br>
<div class="row">
	<div class="col-md-6">
    <div class="alignright">
		<img src="https://dl.dropboxusercontent.com/s/um68ya4cbu2di3g/1655263_291006101024077_812042086_o.jpg" class="img-circle" height="250" width="250">
    </div>
	</div>
	<div class="col-md-5">
		<h2>Locals, meet the travellers</h2>		
    <p>Ever wanted to meet somebody from the other side of the globe but haven't had the chance? Look for travellers around you, show them around and next time you visit their countries, ask to be shown around.</p>
	</div>
</div>
  </div><!-- end of index -->

  <script>
      $(document).ready(function() { $("#e1").select2({placeholder: "What subject are you interested in?", allowClear: true}); });
  </script>

