<div class="jumbotron" style="background-image: url(https://dl.dropboxusercontent.com/s/zm647mthzem0u42/bodleian2.JPG); background-size: 100%;" height="750">
   <h1 align="center">Team</h1>
  
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-1">
        <h2>The Team</h2><br><br>
        <div class="row">
          <div class="col-md-6">
            <img src="https://dl.dropboxusercontent.com/s/k5eidjedrg288d2/harry.jpg" class="img-circle" height="150" width="150">				 
                <h4>Harry Lee, CEO & Co-founder</h4> 
                <p>Harry Lee has graduated from Oriel College, Oxford in 2014 with BA and MSc in Molecular and Cellular Biochemistry and was a visiting scholar at Princeton University for the academic year 2013-2014. Travellrs is not Harry's first venture. Since second year, Harry has set up a ALevel and IB private tutoring marketplace based on his tutoring experience. As the CEO, Harry has come up with the business idea seeing the demand for travel companionship from his experience of being a single traveller and also a part time local tourguide in Oxford. </p>
          </div>
          <div class="col-md-6"> 
                <img src="https://dl.dropboxusercontent.com/s/05u667su1jvzz5s/tao%20and%20dani1.jpg" class="img-circle" height="150" width="150">
                <h4>Tao Xu, COO & Co-founder</h4> 
                <p>Tao has graduated from Oxford in Engineering where he met Harry and started his entrepreneurship career. Tao's critical thinking has allowed us to refine the idea and build our product this summer. As the co-founder, Tao will be focusing on attracting Chinese travellers to use our platform for networking with fellow Chinese and non-Chinese travellers and locals.<p>  
          </div>
        </div>     
        </div>
  </div>