// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h1, h2 {
  font-family: adelle_ltlight;
}

.center {
  text-align: center;
}

.alignright {
  text-align: right;
}


.footer {
  background-color: #303036;
}

.jumbotron {
}

.footer {
  background-color: #303036;
  margin-bottom: 0px;
  a:hover {
  color: #fff ;
  }
}