</div><!-- end of container from layout/application -->  
<br><br><br><br>
<div class="footer">
  <div class="jumbotron footer" style="background-color: #303036; margin-bottom: 0px">
    <div class="row">        
      <div class="col-md-8 col-md-offset-2">
          <p style="align:center;font-size: 15px "><%= link_to 'About', pages_about_path %> ㅣ <%= link_to 'Team', pages_team_path %></p>
          <p style="align: center; font-size: 13px">English &nbsp;|&nbsp; Chinese &nbsp;|&nbsp; Korean</p>
          <br>
          
        <h5 style="align: right">Travellrs</h5>
        <p style="font-size:12px; align: right">Copyright © Travellrs All Rights Reserved</p>      
          
      </div><!-- end of col-md-6 -->
    </div><!-- end of row -->  
  </div><!-- end of jumbotron -->  
</div> <!-- end of footer -->

    

